@media print {

    @page {
        size: 210mm 297mm; 
        margin: 15mm;
    }

    * {background: transparent !important; color: black !important;}

    h1 {
        page-break-before: always;
    }

    body {
        font-size: 12pt;
    }

    .intro {
        background: none;
    }

    .intro h1 {
        text-decoration: none;
        text-shadow: none;
    }

    #content {
        width: auto;
    }

    header {
        display: none;
    }

    footer {
        display: none;
    }

    #toTop {
        display: none;
        
    }  

    /* evito che l’interruzione avvenga nel corpo della tabella */
    .shortcut {
        page-break-inside: avoid;
    }

    .summary {
        page-break-inside: avoid;
    }
}