@media print {

    @page {
        size: 210mm 297mm; 
        margin: 15mm;
    }

    * {
        background: transparent !important; 
        color: black !important;
    }

    .introduction h1 {
        font-size: 18pt;
    }

    h1 {
        font-size: 18pt;
        page-break-before: always;
    }

    h2 {
        font-size: 16pt;
    }

    h3 {
        font-size: 16pt; 
    }

    body {
        font-size: 12pt;
    }

    .intro {
        background: none;
    }

    .intro h1 {
        text-decoration: none;
        text-shadow: none;
    }

    #content {
        width: auto;
    }

    header {
        display: none !important;
    }

    .footer {
        display: none !important;
    }

    #toTop {
        display: none !important;   
    }  

    /* evito che l’interruzione avvenga nel corpo della tabella */
    .shortcut {
        page-break-inside: avoid;
    }

    .shortcut {
        page-break-before: auto;
    }

    .summary {
        width: 100%;
        line-height: .7rem;
    }

    .not-passed {
        page-break-inside: avoid;
    }

    .passed {
        page-break-inside: avoid;
    }

    .na {
        page-break-inside: avoid;
    }

    .second-list .third-list {
        line-height: 1.5rem;
    }

    pre {
        font-size: 10pt;
    }
}