/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fine reset.css */

:root {
	--blue: #6B95D3; /* livid */
	--red: #FF7070; /* coral reef */
	--green: #86CE67; /* dollar bill */
	--light-gray: #ebebeb;
	--bg-color: #f8f8f8;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background: var(--bg-color);
	color: #444;
}

a.skip-to-content {
	position: absolute;
	top: -1000px;
	left: -1000px;
}

a.skip-to-content:active,
a.skip-to-content:focus,
a.skip-to-content:hover {
	top: 10px;
	left: 10px;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

abbr {
	text-decoration: none;
}

.navigation {
	display: flex;
	flex-direction: row;
	padding: 1.5rem 1rem 0;
	justify-content: flex-end;
	border-bottom: 3px solid #f2d7d5;
}

.navigation ul {
	list-style: none;
	margin-bottom: -3px;
}

.navigation li {
	display: inline-block;
	border-bottom: 3px solid transparent;
	transition: border-bottom-color 300ms ease-in-out;
}

.navigation li:hover {
	border-bottom-color: #fa7268;
}

.navigation li a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	padding: .5rem;
}

.navigation li:nth-child(2) {
	margin: 0 1rem;
}

main {
	flex-grow: 2;
}

a {
	text-decoration: none;
	color: var(--blue);
}

a:hover {
	text-decoration: underline;
}

.navigation li.search {
	margin-left: 1rem;
}

.navigation li.search:hover {
	border-bottom-color: transparent;
}

body > header {
	position: relative;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.search {
	cursor: pointer;
}

.searchbox {
	width: 100%;
	max-height: 0px;
	overflow: hidden;
	transition: max-height ease-in-out .3s,
	box-shadow ease-in-out .3s;
	position: absolute;
	background: #F0F0F0;
	display: flex;
	flex-direction: column;
}

.searchbox.open,
.searchbox:focus-within {
	/* height: 250px; */
	max-height: 350px;
	/* overflow: auto; */
	box-shadow: 0 7px 20px #bdbdbd;
}

.searchbox #search-input {
	display: block;
	margin: 40px auto;
	padding: 7px 10px;
	font-size: 1rem;
	width: 70%;
}

.searchbox #results {
	/* height: 200px; */
	height: 100%;
	overflow: auto;
}

.searchbox #results li {
	display: block;
	padding: 10px;
	margin: 5px 0;
	background-color: transparent;
	transition: background-color ease-in-out .3s;
	cursor: pointer;
}

.searchbox #results li:hover {
	background-color: #e8e8e8;
}

.searchbox #results li a {
	display: inline-block;
	width: 100%;
	padding: 10px;
}

.searchbox #results li span {
	font-size: 0.9rem;
	padding: 0 1rem;
}

.footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 1.5rem 1rem;
	border-top: 6px solid var(--light-gray);
	margin-top: 30px;
}

.footer > * {
	padding: .5rem;
}

.footer nav ul {
	list-style: none;
}

.footer nav li {
	display: inline;
}

.footer nav li:first-child {
	margin: 0 1rem;
}

.footer a {
	color: inherit;
}

@media only screen and (min-width: 640px) {
	.footer {
		flex-direction: row;
		justify-content: space-between;
	}
}

/* Pagina Home */

.intro {
	height: 500px;
	background-image: url(../img/home_1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5rem;
	letter-spacing: 2px;
}

@media only screen and (min-width: 640px) {
	.intro p {
		width: 90%;
		padding: 12px 0;
		font-size: 1.3rem;
		max-width: 610px;
		text-align: center;
	}
}

.boxes section {
	text-align: center;
	padding: 0 10px;
	margin-top: 50px;
}

@media only screen and (min-width: 640px) {
	.boxes {
		display: flex;
		flex-direction: row;
		padding: 10px;
	}

	.boxes section {
		padding: 30px 10px;
		width: 50%;
		margin: 30px 0;
	}

	.boxes section:first-child {
		border-right: 3px solid var(--light-gray);
	}
	
	.boxes section:last-child {
		border-left: 3px solid var(--light-gray);
	}
}

.boxes p:last-child {
	margin: 30px 0;
}

.boxes a {
	border: 3px solid var(--blue);
	border-radius: 9px;
	padding: 9px 14px;
	background: white;
}

.boxes a i {
	transition: transform .2s ease-in-out;
}

.boxes a:hover {
	text-decoration: none;
}

.boxes a:hover i {
	transform: translateX(3px);
}

.boxes h2 {
	font-size: 1.5rem;
	margin: 20px 0;
}

/* Fine pagina Home */

/* Pagina wcag */

.wcag {
	counter-reset: principle;
}

.wcag h1 {
	font-size: 1.6rem;
	padding: 8px;
}

.wcag h2::before, .wcag h3::before, .wcag h4::before {
	display: inline-block;
	width: 70px;
	text-align: right;
	padding-right: 5px;
}

.wcag h2 {
	font-size: 1.5rem;
	padding: 8px;
}

.wcag h2::before {
	counter-increment: principle;
	content: counter(principle) " ";
}

.wcag .principle {
	counter-reset: guideline;
}

.wcag h3 {
	font-size: 1.4rem;
	padding: 8px;
}

.wcag h3::before {
	counter-increment: guideline;
	content: counter(principle) "." counter(guideline) " ";
}

.wcag .guideline {
	counter-reset: success-criterion;
}

.wcag h4 {
	font-size: 1.3rem;
}

.wcag h4::before {
	counter-increment: success-criterion;
	content: counter(principle) "." counter(guideline) "." counter(success-criterion) " ";
}

.outcome {
	font-size: 1.2rem;
}

.wcag h5 {
	font-size: 1.2rem;
	padding-left: 14px;
	font-weight: bold;
	padding-top: 20px;
}

.wcag .success-criterion {
	padding: 10px;
	margin: 10px 0;
	border-left: 4px solid transparent;
}

.wcag .success-criterion.passed {
	border-color: var(--green);
}

.wcag .success-criterion.failed {
	border-color: var(--red);
}

.wcag .success-criterion.na {
	border-color: var(--light-gray); /* TODO: cambiare! */
}

.wcag .success-criterion header h4 {
	padding-bottom: 5px;
	border-bottom: 3px solid #ebebeb;
	margin-bottom: 4px;
}

.wcag .success-criterion header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.wcag .success-criterion header h4 {
	width: 100%;
}

.wcag .success-criterion header p {
	margin: 0;
}

.wcag .success-criterion header {
	margin-bottom: 10px;
}

.wcag blockquote {
	display: block;
	border-width: 2px 0;
	border-style: solid;
	border-color: #ddd;
	padding: 1.5rem .5rem 1.5rem 2rem;
	margin: 1.5em auto;
	position: relative;
	font-style: italic;
	width: 80%;
	max-width: 700px;
}

/* .wcag blockquote:after {
	content: "\2013 \2003" attr(cite);
	display: block;
	text-align: right;
	font-size: 0.875em;
	color: #e74c3c;
}*/

.wcag blockquote > p:nth-child(1) {
	position: relative;
}

.wcag blockquote > p:nth-child(1)::before {
	content: '\201C';
	font-size: 5rem;
	color: #666;
	position: absolute;
	top: -20px;
	left: -40px;
}

.wcag blockquote > p {
	margin: 1rem 0;
}

.wcag blockquote > p:first-of-type,
.wcag blockquote > p:last-of-type {
	margin: 0;
}

.wcag blockquote footer {
	margin-top: 0;
	text-align: right;
	font-size: .9rem;
	margin-bottom: -.5rem;
}

.wcag blockquote footer cite::before {
	content: "\2014 ";
}

.wcag p {
	margin: 1rem;
	line-height: auto;
}

.wcag ul {
	list-style: square;
	padding-left: 2rem;
}

pre code {
	border-radius: 5px;
}

/* toc */
.table-of-contents {
	width: 70%;
	margin: 0 auto;
	
	counter-reset: toc-principle;
}

.table-of-contents h5 {
	margin: .5rem 0;
	padding: 0;
}

.table-of-contents > ol > li {
	counter-reset: toc-guidelines;
}

.table-of-contents > ol > li > ol > li {
	counter-reset: toc-success-criterion;
}

.table-of-contents > ol > li > a::before {
	counter-increment: toc-principle;
	content: counter(toc-principle) " ";
}

.table-of-contents > ol > li > ol > li > a::before {
	counter-increment: toc-guidelines;
	content: counter(toc-principle) "." counter(toc-guidelines) " ";
}

.table-of-contents > ol > li > ol > li > ol > li > a::before {
	counter-increment: toc-success-criterion;
	content: counter(toc-principle) "." counter(toc-guidelines) "." counter(toc-success-criterion) " ";
}

.table-of-contents li a::before {
	display: inline-block;
	width: 40px;
	text-align: right;
	margin-right: 10px;
}

.table-of-contents li a:hover::before {
	text-decoration: underline;
}

/* fine wcag */

/* pagina User testing */

.ut h1 {
	font-size: 1.5rem;
	padding: 10px;
}

.ut h2 {
	font-size: 1.3rem;
	padding: 10px;
}

/* fine pagina User testing */