/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fine reset.css */

:root {
	--blue: #6B95D3; /* livid */
	--red: #FF7070; /* coral reef */
	--green: #86CE67; /* dollar bill */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background: #f8f8f8;
	color: #444;
}

a.skip-to-content {
	position: absolute;
	top: -1000px;
	left: -1000px;
}

a.skip-to-content:active,
a.skip-to-content:focus,
a.skip-to-content:hover {
	top: 10px;
	left: 10px;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

abbr {
	text-decoration: none;
}

.navigation {
	display: flex;
	flex-direction: row;
	padding: 1.5rem 1rem 0;
	justify-content: flex-end;
	border-bottom: 3px solid #f2d7d5;
}

.navigation ul {
	list-style: none;
	margin-bottom: -3px;
}

.navigation li {
	display: inline-block;
	border-bottom: 3px solid transparent;
	transition: border-bottom-color 300ms ease-in-out;
}

.navigation li:hover {
	border-bottom-color: #fa7268;
}

.navigation li a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	padding: .5rem;
}

.navigation li:nth-child(2) {
	margin: 0 1rem;
}

main {
	flex-grow: 2;
}

a {
	text-decoration: none;
	color: var(--blue);
}

a:hover {
	text-decoration: underline;
}

.navigation li.search {
	margin-left: 1rem;
}

.navigation li.search:hover {
	border-bottom-color: transparent;
	cursor: pointer;
}

body > header {
	position: relative;
}

.searchbox {
	width: 100%;
	height: 0px;
	overflow: hidden;
	transition: height ease-in-out .3s;
	position: absolute;
	background: #F0F0F0;
}

.searchbox.open {
	height: 250px;
	overflow: auto;
}

.searchbox #search-input {
	display: block;
	margin: 40px auto;
	padding: 7px 10px;
	font-size: 1rem;
	width: 70%;
}

.footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 1.5rem 1rem;
	border-top: 6px solid #ebebeb;
}

.footer > * {
	padding: .5rem;
}

.footer nav ul {
	list-style: none;
}

.footer nav li {
	display: inline;
}

.footer nav li:first-child {
	margin: 0 1rem;
}

.footer a {
	color: inherit;
}

.footer a:hover {
	text-decoration-color: #fa7268;
}

@media only screen and (min-width: 640px) {
	.footer {
		flex-direction: row;
		justify-content: space-between;
	}
}

/* pagina wcag */

.wcag {
	counter-reset: principle;
}

.wcag h2::before, .wcag h3::before, .wcag h4::before {
	display: inline-block;
	width: 50px;
	text-align: right;
	padding-right: 5px;
}

.wcag h2 {
	font-size: 1.5rem;
	padding: 10px;
}

.wcag h2::before {
	counter-increment: principle;
	content: counter(principle) ". ";
}

.wcag .principle {
	counter-reset: guideline;
}

.wcag h3 {
	font-size: 1.4rem;
	padding: 10px;
}

.wcag h3::before {
	counter-increment: guideline;
	content: counter(principle) "." counter(guideline) " ";
}

.wcag .guideline {
	counter-reset: success-criterion;
}

.wcag h4 {
	font-size: 1.3rem;
}

.wcag h4::before {
	counter-increment: success-criterion;
	content: counter(principle) "." counter(guideline) "." counter(success-criterion) " ";
}

.wcag .success-criterion {
	padding: 10px;
	margin: 10px 0;
	border-left: 4px solid transparent;
}

.wcag .success-criterion.passed {
	border-color: var(--green);
}

.wcag .success-criterion.not-passed {
	border-color: var(--red);
}

.wcag .success-criterion header h4 {
	padding-bottom: 5px;
	border-bottom: 3px solid #ebebeb;
	margin-bottom: 4px;
}

.wcag .success-criterion header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.wcag .success-criterion header h4 {
	width: 100%;
}

.wcag .success-criterion header p {
	margin: 0;
}

.wcag .success-criterion header {
	margin-bottom: 10px;
}

.wcag p {
	margin: 2rem;
}

.wcag ul {
	list-style: disc;
	padding: 20px;
}

/* fine wcag */