{{ define "wcag_quote" }}
	<blockquote>
		{{ . | markdown }}

		<footer>
			<cite>WCAG 2.1</cite>
		</footer>
	</blockquote>
{{ end }}

{{ define "toc_piece" }}
	<ol>
		<li>
			<a href="#{{ .Source }}">{{ .Title }}</a>
			<ol>
				{{ range .SubSections }}
					<li>
						<a href="#{{ .Source }}">{{ .Title }}</a>
						<ol>
							{{ range .SubSections }}
								<li><a href="#{{ .Source }}">{{ .Title }}</a></li>
							{{ end }}
						</ol>
					</li>
				{{ end }}
			</ol>
		</li>
	</ol>
{{ end }}

{{ define "content" }}
	<div class="wcag container">
	
		<!-- intro -->
		<section class="introduction">
			<h1>{{ .Title }}</h1>
			{{ .Content | markdown }}
		</section>
		
		<!-- Table of contents -->
		<section class="table-of-contents" id="toc">
			<h5>Indice dei contenuti</h5>
			<p class="goto-toc"><a href="#perceivable">&darr; Salta indice contenuti</a></p>
			<nav role="doc-pagelist">
				<div>
					{{ block "toc_piece" index .SubSections 0}}{{ end }}
				</div>
				
				<div>
					{{ block "toc_piece" index .SubSections 1}}{{ end }}
				</div>
				
				<div>
					{{ block "toc_piece" index .SubSections 2}}{{ end }}
					{{ block "toc_piece" index .SubSections 3}}{{ end }}
				</div>
				
				<!--
				<ol>
					{{ range .SubSections }}
						<li>
							<a href="#{{ .Source }}">{{ .Title }}</a>
							<ol>
								{{ range .SubSections }}
									<li>
										<a href="#{{ .Source }}">{{ .Title }}</a>
										<ol>
											{{ range .SubSections }}
												<li><a href="#{{ .Source }}">{{ .Title }}</a></li>
											{{ end }}
										</ol>
									</li>
								{{ end }}
							</ol>
						</li>
					{{ end }}
				</ol>
				-->
			</nav>
		</section>

	
		{{ range .SubSections }}
			<section class="principle">
				<h2 id="{{ .Source }}">{{ .Title }} <a href="#{{ .Source }}" title="Link permanente a {{ .Title }}">§</a></h2>
				{{ block "wcag_quote" .Quote }}{{ end }}
				
				{{ range .SubSections }}
					<section class="guideline">
						<h3 id="{{ .Source }}">{{ .Title }} <a href="#{{ .Source }}" title="Link permanente a {{ .Title }}">§</a></h3>
						{{ block "wcag_quote" .Quote }}{{ end }}
						
						{{ range .SubSections }}
							<section class="success-criterion {{ .OutcomeClassName }}">
								<header>
									<h4 id="{{.Source}}">{{ .Title }} <a href="#{{ .Source }}" title="Link permanente a {{ .Title }}">§</a></h4>
									<p>Livello: {{.Level}}</p>
									<p>
										<a target="_blank" title="apri link esterno" href="https://www.w3.org/Translations/WCAG21-it/#{{.Source}}">
											spec
											<i aria-hidden="true" class="fas fa-external-link-alt"></i>
											<span class="sr-only">(apri link esterno)</span>
										</a>
									</p>
								</header>
								{{ block "wcag_quote" .Quote }}{{ end }}
								<p class="outcome"><strong>Esito:</strong> {{ .OutcomeNL }}</p>
								{{ .Content | markdown }}
								
								<p class="goto-toc"><a href="#toc">&uarr; Ritorna all'indice</a></p>
							</section>
						{{ end }}
					</section>
				{{ end }}
			</section>
		{{ end }}
	</div>
{{ end }}